# Expressions, Operators, Control statements

# Operators
- Arithmetic (+, -, *, /, //, %)
- Relational (<, >, <=, >=, !=, ==)
- Shift (>>, <<)
- Assignment (=)
- Logical (and, or, not)
- Bitwise (&, |, !)
- 'in' and 'not in' operator

# << and >>

if n=8 (1000 in binary), n>>1 will give 100 after shifting bits by 1 place to right. 
                         n<<1 will give 10000 after shifting bits by 1 place to left.

In [0]:
n=10
print(n,'binary',format(n,'b'))
print(n,'* 2=',n<<1, format(n<<1,'b'))
print(n,'/ 2=',n>>1,format(n>>1,'b'))

10 binary 1010
10 * 2= 20 10100
10 / 2= 5 101

In [0]:
# logical
x = True
y = False
print('x and y is',x and y) # Output: x and y is False
print('x or y is',x or y) # Output: x or y is True
print('not x is',not x) # Output: not x is False

x and y is False
x or y is True
not x is False

In [0]:
# bitwise
x=10 
y=4
print(x & y) 
print(x | y)
print(x ^ y)

0
14
14

In [0]:
# in and not in

x = 'Hello world'
print('j' in x)    # Output: True
print('h' not in x)   # Output: True

False
True

In [0]:
# perform operations on complex numbers

import cmath
a=complex(20+7j)
b=complex(5+3j)
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)

a+b (25+10j)
a-b (15+4j)
a*b (79+95j)
a/b (3.5588235294117645-0.7352941176470589j)

### Task1 Write a program in python to calculate area of triangle when all three sides are given.
- s=(a+b+c)/2
- area =  âˆš(s(s-a)(s-b)(s-c) )

Enter length of triangle12
Enter Breadth of triangle45
Enter height of triangle3
467.6537180435969

# Control Statements

### Decisions (if-else)

# simple if-else
if(cond):
    stmt
else:
    stmt

# if-else-if
if(cond):
    stmt
elif(cond):
    stmt
    .
    .
    .
else: 
    stmt

# nested if-else
                            if(cond):
                                stmt
                                if(cond):
                                    stmt1
                            else:
                                if(cond):
                                    stmt3
                                else:
                                    stmt4

### Task2: Write a proram that accept a lowercase/uppercase character from the user and check whether the character is a vowel or consonant.

In [0]:
# write your code after this line
str=input('Enter a letter: ')
if(str == 'a' or str == 'e' or str == 'i' or str == 'o' or str == 'u'):
  print(str,'is vowel')
else:
  print(str,'is consonant')

Enter a letter: a
a is vowel

### Task3: Write a program to check whether given character is a digit or a character in lowercase or uppercase alphabet. Hint: ASCII value of digit is between 48 to 58 and Lowercase characters in the range of 97 to122, uppercase is between 65 and 90).

In [8]:
# write your code after this line
str = int(input("Enter a digit(ACSII) or character: "))
if(48<=str<=58):
  print(str,' is a digit.')
elif(97<=str<=122):
  print(str,' is lowercase. ')
elif(65<=str<=90):
  print(str,'is uppercase')
else:
  print('input is not a digit nor a character. ')

Enter a digit(ACSII) or character: 59
input is not a digit nor a character.

### Repetition or loop
- while loop
- for loop

#### While loop

initialization of loop variable
while( condition ):
    stmt 1
    stmt 2
    ...
    update loop variable

##### Task 4: Write a program in Python to print table of any number 'n' provided by user using while loop.

In [10]:
# write your code after this line
n = int(input('Enter any number: '))
for i in range(1,11):
  print(n,'x',i, '= ',n*i)

Enter any number: 15
15 x 1 =  15
15 x 2 =  30
15 x 3 =  45
15 x 4 =  60
15 x 5 =  75
15 x 6 =  90
15 x 7 =  105
15 x 8 =  120
15 x 9 =  135
15 x 10 =  150

##### Task 5: Write a program in Python to evaluate the following series using while loop:
    
    1! + 2! + 3! + 4! ...+ n!
hint: use math.factorial(n) function to calculate factorial of number n.

enter any number:6
sum of series is: 873

##### Task 6: Write a program in Python to enter the numbers till the user wants and at the end it should display the maximum number entered using while loop.

Enter the number : 76
Do you want to enter more numbers??(Y/N) : y
Enter the number : 987
Do you want to enter more numbers??(Y/N) : y
Enter the number : 786
Do you want to enter more numbers??(Y/N) : y
Enter the number : 5
Do you want to enter more numbers??(Y/N) : n
Maximum number : 987

### for loop

for iterable_var_name in range(terminating_value):
    stmt 1
    stmt 2
    ...
    
 for iterable_var_name in range(initial_value,terminating_value):
    stmt 1
    stmt 2
    ...
    
 for iterable_var_name in range(initial_value,terminating_value,updation):
    stmt 1
    stmt 2
    ...

In [11]:
# factorial
n=int(input('Enter a number '))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(n,'! =',fact)

Enter a number 5
5 ! = 120

##### Task 7:Write a program in Python to print all numbers from 0 to 9 except 3 and 6 using a for loop.

In [12]:
for x in range(10):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5 7 8 9

#### 2 Write a program in Python to get 10 numbers from user using a for loop. The program should print the count of positive numbers, negative numbers and zeroes entered by the user.

In [14]:
negative = 0
positive = 0
zero = 0
for x in range(10):
  z=int(input('Enter the number : '))
  if(z<0):
    negative=negative+1
  elif(z>0):
    positive=positive+1
  else:
    zero=zero+1
print('Negative: ',negative)
print('Positive: ',positive)
print('Zero: ',zero)

Enter the number : 1
Enter the number : -2
Enter the number : 3
Enter the number : 4
Enter the number : -5
Enter the number : 6
Enter the number : -7
Enter the number : -8
Enter the number : 9
Enter the number : 0
Negative:  4
Positive:  5
Zero:  1